---
http_interactions:
- request:
    method: post
    uri: https://api.radar.io/v1/track
    body:
      encoding: UTF-8
      string: '{"deviceId":"some-random-device-id","userId":"maybe-some-random-uuid","latitude":40.78382,"longitude":-73.97536,"accuracy":70,"foreground":false,"stopped":true,"description":"Test
        user created from tests","deviceType":"iOS"}'
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"217-fzKyuA2ev/NVD0VoMZAcMiiyqkU"
      X-Ratelimit-Limit:
      - '1500'
      X-Ratelimit-Remaining:
      - '1499'
      X-Ratelimit-Reset:
      - '1630481763'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"user":{"location":{"type":"Point","coordinates":[-73.97536,40.78382]},"live":false,"geofences":[],"_id":"612d41412b9c6200660a8feb","createdAt":"2021-08-30T20:36:17.453Z","updatedAt":"2021-09-01T07:36:01.548Z","actualUpdatedAt":"2021-09-01T07:36:01.548Z","userId":"maybe-some-random-uuid","deviceId":"some-random-device-id","foreground":false,"stopped":true,"description":"Test
        user created from tests","deviceType":"iOS","locationAccuracy":70,"sdkVersion":"","ip":"70.36.60.195"},"events":[],"nearbyGeofences":[]}'
  recorded_at: Wed, 01 Sep 2021 07:36:01 GMT
recorded_with: VCR 6.0.0
