---
http_interactions:
- request:
    method: get
    uri: https://api.radar.io/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1103-fb8bb2wAhWm9580esoHZ5bfmJrU"
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1630486865'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"events":[{"location":{"coordinates":[-75.97536,31.78382],"type":"Point"},"live":false,"_id":"612f4061001abc006317503f","createdAt":"2021-09-01T08:57:05.906Z","type":"user.stopped_trip","locationAccuracy":80,"confidence":3,"user":{"_id":"612f398a0535f300790725c2","userId":"user-uuid-starting-the-trip","deviceId":"device-to-start-a-trip","description":"Starting
        a new trip for a user created via tests"},"actualCreatedAt":"2021-09-01T08:57:05.906Z","trip":{"_id":"612f3d41c276cf00802c863f","externalId":"12345"}},{"location":{"coordinates":[-75.97536,31.78382],"type":"Point"},"live":false,"_id":"612f3d41c276cf00802c8646","createdAt":"2021-09-01T08:43:45.772Z","type":"user.started_trip","locationAccuracy":80,"confidence":3,"foreground":false,"user":{"_id":"612f398a0535f300790725c2","userId":"user-uuid-starting-the-trip","deviceId":"device-to-start-a-trip","description":"Starting
        a new trip for a user created via tests"},"actualCreatedAt":"2021-09-01T08:43:45.772Z","trip":{"_id":"612f3d41c276cf00802c863f","externalId":"12345"}},{"location":{"coordinates":[-96.92740662985656,47.807339740611894],"type":"Point"},"live":false,"_id":"611eb0c8887c7700723490c2","createdAt":"2021-08-19T19:28:08.406Z","type":"user.exited_geofence","locationAccuracy":10,"confidence":3,"foreground":true,"user":{"_id":"611e9185e77e6100799d13d8","userId":"simulated-user-id","deviceId":"simulated-device-id"},"geofence":{"_id":"611e9abfe274d60033a6115e","description":"Northdale
        Oil-Thompson, ND","tag":"Northdale Oil-Thompson, ND","externalId":"1575"},"duration":3.1825666666666668,"actualCreatedAt":"2021-08-19T19:28:08.406Z"},{"location":{"coordinates":[-97.42407880271912,47.74410676187903],"type":"Point"},"live":false,"_id":"611eb009ff2b72005603042f","createdAt":"2021-08-19T19:24:57.452Z","type":"user.entered_geofence","locationAccuracy":10,"confidence":3,"foreground":true,"user":{"_id":"611e9185e77e6100799d13d8","userId":"simulated-user-id","deviceId":"simulated-device-id"},"geofence":{"_id":"611e9abfe274d60033a6115e","description":"Northdale
        [...]
