---
http_interactions:
- request:
    method: patch
    uri: https://api.radar.io/v1/trips/612f3d41c276cf00802c863f
    body:
      encoding: UTF-8
      string: '{"status":"started"}'
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"21d-uYPEnFiM0BFLGRmCw4yH31kjhhY"
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1630486002'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"trip":{"_id":"612f3d41c276cf00802c863f","createdAt":"2021-09-01T08:43:45.772Z","updatedAt":"2021-09-01T08:43:45.772Z","live":false,"externalId":"12345","mode":"car","status":"started","startedAt":"2021-09-01T08:43:45.772Z","user":{"_id":"612f398a0535f300790725c2"},"locations":[{"type":"Point","coordinates":[-75.97536,31.78382],"updatedAt":"2021-09-01T08:43:45.772Z","status":"started"}]},"user":{"_id":"612f398a0535f300790725c2","userId":"user-uuid-starting-the-trip","deviceId":"device-to-start-a-trip"},"events":[]}'
  recorded_at: Wed, 01 Sep 2021 08:46:40 GMT
recorded_with: VCR 6.0.0
