---
http_interactions:
- request:
    method: post
    uri: https://api.radar.io/v1/track
    body:
      encoding: UTF-8
      string: '{"deviceId":"device-to-start-a-trip","userId":"user-uuid-starting-the-trip","latitude":31.78382,"longitude":-75.97536,"accuracy":80,"foreground":false,"stopped":true,"description":"Starting
        a new trip for a user created via tests","tripOptions":{"mode":"car","externalId":"12345"}}'
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"708-FO6PZzQaadNZQssPlQZte+xhBxw"
      X-Ratelimit-Limit:
      - '1500'
      X-Ratelimit-Remaining:
      - '1499'
      X-Ratelimit-Reset:
      - '1630485827'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"user":{"location":{"type":"Point","coordinates":[-75.97536,31.78382]},"live":false,"geofences":[],"_id":"612f398a0535f300790725c2","createdAt":"2021-09-01T08:27:54.566Z","updatedAt":"2021-09-01T08:43:45.772Z","actualUpdatedAt":"2021-09-01T08:43:45.772Z","userId":"user-uuid-starting-the-trip","deviceId":"device-to-start-a-trip","foreground":false,"stopped":true,"description":"Starting
        a new trip for a user created via tests","locationAccuracy":80,"sdkVersion":"","ip":"70.36.60.195","trip":{"_id":"612f3d41c276cf00802c863f","createdAt":"2021-09-01T08:43:45.772Z","updatedAt":"2021-09-01T08:43:45.772Z","live":false,"externalId":"12345","mode":"car","status":"started","startedAt":"2021-09-01T08:43:45.772Z","locations":[{"type":"Point","coordinates":[-75.97536,31.78382],"updatedAt":"2021-09-01T08:43:45.772Z","status":"started"}]}},"events":[{"createdAt":"2021-09-01T08:43:45.772Z","live":false,"type":"user.started_trip","location":{"type":"Point","coordinates":[-75.97536,31.78382]},"locationAccuracy":80,"confidence":3,"actualCreatedAt":"2021-09-01T08:43:45.772Z","user":{"location":{"type":"Point","coordinates":[-75.97536,31.78382]},"_id":"612f398a0535f300790725c2","userId":"user-uuid-starting-the-trip","deviceId":"device-to-start-a-trip","description":"Starting
        a new trip for a user created via tests","locationAccuracy":80,"sdkVersion":""},"foreground":false,"trip":{"_id":"612f3d41c276cf00802c863f","createdAt":"2021-09-01T08:43:45.772Z","updatedAt":"2021-09-01T08:43:45.772Z","live":false,"externalId":"12345","mode":"car","status":"started","startedAt":"2021-09-01T08:43:45.772Z","locations":[{"type":"Point","coordinates":[-75.97536,31.78382],"updatedAt":"2021-09-01T08:43:45.772Z","status":"started"}]},"_id":"612f3d41c276cf00802c8646"}],"nearbyGeofences":[]}'
  recorded_at: Wed, 01 Sep 2021 08:43:45 GMT
recorded_with: VCR 6.0.0
