---
http_interactions:
- request:
    method: patch
    uri: https://api.radar.io/v1/trips/612f3d41c276cf00802c863f
    body:
      encoding: UTF-8
      string: '{"status":"canceled"}'
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58d-Fu6qqM4bXnzl1jC5MdBX1IerUug"
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1630486627'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"trip":{"_id":"612f3d41c276cf00802c863f","createdAt":"2021-09-01T08:43:45.772Z","updatedAt":"2021-09-01T08:57:05.882Z","live":false,"externalId":"12345","mode":"car","status":"canceled","startedAt":"2021-09-01T08:43:45.772Z","canceledAt":"2021-09-01T08:57:05.882Z","endedAt":"2021-09-01T08:57:05.882Z","user":{"_id":"612f398a0535f300790725c2"},"locations":[{"type":"Point","coordinates":[-75.97536,31.78382],"updatedAt":"2021-09-01T08:43:45.772Z","status":"started"}]},"user":{"_id":"612f398a0535f300790725c2","userId":"user-uuid-starting-the-trip","deviceId":"device-to-start-a-trip"},"events":[{"createdAt":"2021-09-01T08:57:05.906Z","live":false,"type":"user.stopped_trip","location":{"type":"Point","coordinates":[-75.97536,31.78382]},"locationAccuracy":80,"confidence":3,"actualCreatedAt":"2021-09-01T08:57:05.906Z","user":{"_id":"612f398a0535f300790725c2","userId":"user-uuid-starting-the-trip","deviceId":"device-to-start-a-trip"},"trip":{"_id":"612f3d41c276cf00802c863f","createdAt":"2021-09-01T08:43:45.772Z","updatedAt":"2021-09-01T08:57:05.882Z","live":false,"externalId":"12345","mode":"car","status":"canceled","startedAt":"2021-09-01T08:43:45.772Z","canceledAt":"2021-09-01T08:57:05.882Z","endedAt":"2021-09-01T08:57:05.882Z","locations":[{"type":"Point","coordinates":[-75.97536,31.78382],"updatedAt":"2021-09-01T08:43:45.772Z","status":"started"}]},"_id":"612f4061001abc006317503f"}]}'
  recorded_at: Wed, 01 Sep 2021 08:57:05 GMT
recorded_with: VCR 6.0.0
