---
http_interactions:
- request:
    method: put
    uri: https://api.radar.io/v1/geofences/Geofences-testing-suite/123454321
    body:
      encoding: UTF-8
      string: '{"description":"Geofence description from test suite","type":"isochrone","coordinates":"[122.641452,
        45.512118]","mode":"car","radius":"60","enabled":"true"}'
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c7d-ryGl6kMSYDm7/3PyLC8jH28RFDk"
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1630487956'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"geofence":{"_id":"612f4592d72bb3002c984444","createdAt":"2021-09-01T09:19:14.616Z","updatedAt":"2021-09-01T09:19:14.603Z","live":false,"description":"Geofence
        description from test suite","tag":"Geofences-testing-suite","externalId":"123454321","type":"isochrone","mode":"car","geometryCenter":{"coordinates":[122.641452,45.512118],"type":"Point"},"geometryRadius":60,"geometry":{"type":"Polygon","coordinates":[[[122.397057,45.83012],[122.398048,45.826729],[122.41423,45.809116],[122.414101,45.80312],[122.411674,45.801895],[122.410812,45.796745],[122.405449,45.793118],[122.404869,45.779118],[122.405281,45.776947],[122.407829,45.776123],[122.408195,45.77087],[122.410797,45.770119],[122.411133,45.761799],[122.413666,45.761337],[122.41407,45.755745],[122.416748,45.755119],[122.417046,45.749706],[122.41964,45.74931],[122.420006,45.746677],[122.422638,45.746307],[122.422974,4[...]
