---
http_interactions:
- request:
    method: get
    uri: https://api.radar.io/v1/geofences/611eb154d7e43c0040fa2283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c87-LIEhSeatZw6lsU7jqiIN7SpAK3g"
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1630487235'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"geofence":{"_id":"611eb154d7e43c0040fa2283","createdAt":"2021-08-19T19:30:28.449Z","updatedAt":"2021-08-19T19:30:28.422Z","live":false,"description":"Northdale
        Oil-East Grand Forks","tag":"Northdale Oil-East Grand Forks","externalId":"1572","type":"isochrone","mode":"car","geometryCenter":{"coordinates":[-97.010982003,47.9377901477],"type":"Point"},"geometryRadius":30,"geometry":{"coordinates":[[[-97.190979,48.141998],[-97.192245,48.135788],[-97.192322,48.109795],[-97.19043,48.108334],[-97.190697,48.104076],[-97.188972,48.104408],[-97.186981,48.102383],[-97.184273,48.102489],[-97.179962,48.096798],[-97.176651,48.096115],[-97.170685,48.090084],[-97.170639,48.087448],[-97.172829,48.085789],[-97.172508,48.079788],[-97.17527,48.079494],[-97.182007,48.086769],[-97.185356,48.087414],[-97.1894,48.091366],[-97.190979,48.103344],[-97.192223,48.093788],[-97.193672,48.093086],[-97[...]
