---
http_interactions:
- request:
    method: put
    uri: https://api.radar.io/v1/geofences/Geofences-testing-suite/123454321
    body:
      encoding: UTF-8
      string: '{"description":"Geofence description from test suite","type":"isochrone","coordinates":"[122.641452,
        45.512118]","mode":"car","radius":30,"enabled":false}'
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b32-VrnzOpACL2BQZ8pEv1JEAvVQxoM"
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1630487956'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"geofence":{"_id":"612f4592d72bb3002c984444","createdAt":"2021-09-01T09:19:14.616Z","updatedAt":"2021-09-01T09:19:15.261Z","live":false,"description":"Geofence
        description from test suite","tag":"Geofences-testing-suite","externalId":"123454321","type":"isochrone","mode":"car","geometryCenter":{"coordinates":[122.641452,45.512118],"type":"Point"},"geometryRadius":30,"geometry":{"coordinates":[[[122.475525,45.656189],[122.475258,45.654118],[122.480171,45.648838],[122.480759,45.645435],[122.485909,45.640579],[122.486092,45.638115],[122.487862,45.636524],[122.490448,45.62912],[122.493736,45.626408],[122.494278,45.622959],[122.497711,45.622379],[122.502136,45.616814],[122.503677,45.616344],[122.504105,45.614773],[122.505661,45.614334],[122.506073,45.610748],[122.507645,45.610321],[122.508049,45.608723],[122.509651,45.608315],[122.510017,45.606693],[122.511642,45.6063],[12[...]
