---
http_interactions:
- request:
    method: post
    uri: https://api.radar.io/v1/track
    body:
      encoding: UTF-8
      string: '{"deviceId":null,"latitude":null,"longitude":null,"accuracy":null}'
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"51-/bJmSgaFMCJdYprrhMkX1A7BK7M"
      X-Ratelimit-Limit:
      - '1500'
      X-Ratelimit-Remaining:
      - '1499'
      X-Ratelimit-Reset:
      - '1630478870'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"param":"deviceId","message":"deviceId: Param is
        required."}}'
  recorded_at: Wed, 01 Sep 2021 06:47:48 GMT
recorded_with: VCR 6.0.0
