---
http_interactions:
- request:
    method: get
    uri: https://api.radar.io/v1/users/611d5b8681163300488639f1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - prj_test_sk_27517ebdd9c42b66ba55c2b53b115bed0124b786
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28b-3TKfQozDyha7TarY9ICzAcZrwRw"
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1630472935'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"user":{"location":{"type":"Point","coordinates":[-122.084,37.4219983]},"live":false,"geofences":[],"_id":"611d5b8681163300488639f1","createdAt":"2021-08-18T19:12:06.114Z","updatedAt":"2021-08-18T19:14:34.104Z","actualUpdatedAt":"2021-08-18T19:14:34.104Z","deviceId":"83b144f3a85f0afb","installId":"bf7c29ae-b754-4f22-84bf-8a1c1032a7de","foreground":true,"stopped":true,"deviceType":"Android","locationAccuracy":5,"deviceOS":"11","deviceMake":"Google","deviceModel":"sdk_gphone_x86","sdkVersion":"3.1.15","ip":"190.131.217.236","source":"BACKGROUND_LOCATION","locationAuthorization":"GRANTED_FOREGROUND","sessionId":"1629313920"}}'
  recorded_at: Wed, 01 Sep 2021 05:08:53 GMT
recorded_with: VCR 6.0.0
